name: CI

on: [push] # push时触发

jobs:
  build:
    runs-on: ubuntu-latest # 执行环境为ubuntu-latest
    steps:
    - uses: actions/checkout@v2 # 现成actions，获取源码
    - uses: actions/setup-node@v1 # 安装nodejs，版本指定10
      with:
        node-version: '10.x'
    - name: npm install # 安装函数的依赖
      run: cd ga && npm install
    - name: install TCB CLI # TCB CLI
      run: sudo npm i -g @cloudbase/cli
    - name: tcb login # scf cofigure, 配置appid, 地域和api秘钥等信息
      env: 
        SECRET_ID: ${{ secrets.TENCENT_CLOUDBASE_SECRET_ID }} # 值存放在第二步所说的secrets中
        SECRET_KEY: ${{ secrets.TENCENT_CLOUDBASE_SECRET_KEY }} # 同上
      run: tcb login --apiKeyId SECRET_ID --apiKey SECRET_KEY
    - name: cf deploy # cf deploy
      env: 
        ENV_ID: dev-test-0fyhq
      run: cd ga/ && cloudbase functions:deploy gahello --force -e ENV_ID