name: CI

on: [push] # push时触发

jobs:
  build:
    runs-on: ubuntu-latest # 执行环境为ubuntu-latest
    steps:
    - uses: actions/checkout@v1 # 现成actions，获取源码
    - uses: actions/setup-node@v1 # 安装nodejs，版本指定10
      with:
        node-version: '10.x'
    - name: npm install # 安装函数的依赖
      run: cd cloudfunc && npm install
    - name: install SCF CLI # 安装SCF CLI
      run: sudo npm install serverless
    - name: scf configure # scf cofigure, 配置appid, 地域和api秘钥等信息
      env: 
        APPID: 1258774696
        REGION: ap-guangzhou
        SECRET_ID: ${{ secrets.TENCENT_CLOUD_SECRET_ID }} # 值存放在第二步所说的secrets中
        SECRET_KEY: ${{ secrets.TENCENT_CLOUD_SECRET_KEY }} # 同上
      run: sls configure set --appid $APPID --region $REGION --secret-id $SECRET_ID --secret-key $SECRET_KEY
    - name: scf deploy # scf deploy
      run: cd cloudfunc && sls deploy